@model IEnumerable<Shop.Application.Cart.GetCart.Response>

<h2>small stuff component</h2>
<div>
    @foreach (var product in Model)
    {
        <p>@product.Name-</p>
        <p>@product.Qty-</p>
       
        <p>@product.Values-</p>
    }
</div>