<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
       <div class="navbar">
           </div>

           <div class="main">
               <div class="side-menu">
                  <!-- <a href="#" class="room-button">Room</a>
                   <a href="#" class="room-button"><strong>+</strong></a>

                      -->

               </div>
<div class="chat">


    @RenderBody()
</div>
       </div>
           <div class="modal active" id="create-room-modal">
               <form asp-controller="" asp-action="" class="modal-body">
                   <button type="button" class="close" onclick="closeModal()">X</button>

                   <header>Create Room</header>
                   <div>
                       <input name="name" type="text" />
                   </div>
                   <footer>
                       <button>Create</button>
                   </footer>

               </form>

           </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
