<div>
    <form asp-action="Login" asp-controller="Account">
        <input type="text" name="username" placeholder="UserName" />
        <input type="password" name="password"  />
        <input type="submit"/>
    </form>
</div>
<div>
    <a asp-controller="Account" asp-action="Register">Register </a>
</div>