<div>
@for(int i = 0; i < 20; i++)
{
    <div class="chat-body">
        <div class="message">
            <header>Anton:</header>
            <p>this is text</p>
            <footer>16:00</footer>
        </div>

        <div class="message">
            <header>bob:</header>
            <p>this is text</p>
            <footer>16:00</footer>
        </div>
        <div class="message">
            <header>bob:</header>
            <p>Hello Hello</p>
            <footer>16:00</footer>
        </div>
    </div>
}
</div>
<div class="chat-input">
    <input type="text"/>
    <button>Send</button>
</div>